{% extends "layout.html" %}

{% block main_content %}

<div class="main">
	<div>
		<img src="{{ url_for('static', filename='images/anxious_woman.jpeg') }}" class="img-responsive margin" alt="woman solving debt problems" width="150px">
		<h1 style="text-align: left;">Debt Summary</h1>

		<table class="summary">
			<tr>
				<th>Debt Name:</th>
				<th>Amount &pound;</th>
				<th>Min Repayment</th>
				<th>% APR</th>
			</tr>
			{% for debt_obj in debt_obj_list %}
			<tr>
				<td>{{ debt_obj.get_identifier() }}</td>
				<td>&pound;{{  '%.2f' % debt_obj.get_amount() }}</td>
				<td>&pound;{{  '%.2f' % debt_obj.get_repayment() }}</td>
				<td>{{ debt_obj.get_interest() }}%</td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<br>

	<div>
		<button id="getStarted" class="btn"><a href="./debt_form">Add another debt</a></button>
	</div>

	<br>

	<div>
		<p>Current Minimum Repayment:<br><strong>Total &pound;{{ total_min_repayment }}</strong><br>
		Enter a monthly total that you can commit to repaying.</p>
		
		<fieldset>
			<legend>
				Repayment Commitment
			</legend>

			{{ message }}

			<div class="form">
				<form method="POST" action =''>
					{{ form.hidden_tag() }}

					<label for="repayment_commitment">£</label>
					<input type="number" id="repayment_commitment" name="repayment_commitment">
					<br><br>

					<button type="submit" class="btn submit">Calculate</button>

				</form>
			</div>
		</fieldset>
	</div>
</div>

{% endblock %}