{% extends "layout.html" %}

{% block main_content %}

  <div class="row">
    <div class="col-sm-12" style="text-align: left;">
        <h1>My Debts</h1>
        {{ message }} <!-- This is the error message given to the user if anything is entered incorrectly on the form -->

      <div class="form">
        <form method="POST" action="">
        {{ form.hidden_tag() }}

        <table>
          <thead>
            <tr>
              <th></th>
              <th>Debt 1</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><label for="debt1_amount" class="form-label">Debt Total £</label></td>
              <td><input type="number" class="form-control" id="debt1_amount" name="debt1_amount" value="1200"></td>
            </tr>
            <tr>
              <td><label for="debt1_interest" class="form-label">APR</label></td>
              <td><input type="number" class="form-control" id="debt1_amount" name="debt1_interest" value="45"></td>
            </tr>
            <tr>
              <td><label for="debt1_repayment" class="form-label">Repayment £</label></td>
              <td><input type="number" class="form-control" id="debt1_repayment" name="debt1_repayment" value="35"></td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th></th>
              <th>Debt 2</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><label for="debt2_amount" class="form-label">Debt Total £</label></td>
              <td><input type="number" class="form-control" id="debt2_amount" name="debt2_amount" value="850"></td>
            </tr>
            <tr>
              <td><label for="debt2_interest" class="form-label">APR</label></td>
              <td><input type="number" class="form-control" id="debt2_amount" name="debt2_interest" value="26"></td>
            </tr>
            <tr>
              <td><label for="debt2_repayment" class="form-label">Repayment £</label></td>
              <td><input type="number" class="form-control" id="debt2_repayment" name="debt2_repayment" value="10"></td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th></th>
              <th>Debt 3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><label for="debt3_amount" class="form-label">Debt Total £</label></td>
              <td><input type="number" class="form-control" id="debt3_amount" name="debt3_amount" value="8000"></td>
            </tr>
            <tr>
              <td><label for="debt3_interest" class="form-label">APR</label></td>
              <td><input type="number" class="form-control" id="debt3_amount" name="debt3_interest" value="3"></td>
            </tr>
            <tr>
              <td><label for="debt3_repayment" class="form-label">Repayment £</label></td>
              <td><input type="number" class="form-control" id="debt3_repayment" name="debt3_repayment" value="250"></td>
            </tr>
          </tbody>
        </table>

    </div>
    <br>
    <button type="submit" class="btn btn-primary submit">Submit</button>
  </form>

  </div>
</div>

{% endblock %}