{% extends "layout.html" %}

{% block main_content %}

<div class="main">
    <div>
        <h1>Repayment Details</h1>
		{% if approach == 'stack' %}
			<h4>STACK by interest rate<br>
			Debt Free after {{ results.get_stack_time() }}</h4>
		{% elif approach == 'snowball' %}
			<h4>SNOWBALL smaller debts first</h4>
			<h4>Debt Free after {{ results.get_snowball_time() }}</h4>
		{% else %}
			<h4>AVALANCHE everything towards that larger debt</h4>
			<h4>Debt Free after {{ results.get_avalanche_time() }}</h4>
		{% endif %}
    </div>

	<div>
        <table class="summary">
			<tr>
				<th>Summary</th>
				<th>&pound;</th>
				<th>Repayment</th>
				<th>APR</th>
			</tr>
			{% for debt_obj in results.get_debt_collection() %}
			<tr>
				<td>{{ debt_obj.get_identifier() }}</td>
				<td>&pound;{{ debt_obj.get_amount() }}.</td>
				<td>&pound;{{ debt_obj.get_repayment() }}.</td>
				<td>{{ debt_obj.get_interest() }}%</td>
			</tr>
			{% endfor %}
		</table>
        <br>
    </div>

	<div>
		{% for method, details in results.get_debt_dict().items() %}
		{% if method == approach %}
		<table>
			{% for debt, repay_time in details.items() %}
			<tr>
				<td>{{ debt }}</td>
				<td>{{ repay_time }} months</td>
			</tr>
			{% endfor %}
		</table>
			
		{% endif %}
		{% endfor %}
	</div>

	<div>
		<p>Table showing
			<ul>
				<li>Monthly Outstanding balance for the total sum of debt</li>
				<li>Value of the extra cash</li>
				<li>and Which Debt to target with the Extra Repayment</li>
			</ul></p>
		<table class="debt_detail">
			<tr>
				<th></th>
				<th>Balance</th>
				<th></th>
				<th>Amount £</th>
			</tr>
			{% for method, data in results.get_repayments_dict().items() %}
				{% if method == approach %}
							{% for repayment_info in data %}
							<tr>
							<td>{{ repayment_info[0] }}</td>
							<td>&pound;{{ repayment_info[1] }}</td>
							<td>{{ repayment_info[2] }}</td>
							<td>&pound;{{ repayment_info[3] }}</td>
							</tr>
							{% endfor %}
				{% endif %}
			{% endfor %}
		</table>
	</div>

</div>

{% endblock %}