{% extends "layout.html" %}

{% block main_content %}

<div class="header">
  <h1>Simple Debt Repayment Methods</h1>
  <h4>Which is Cheaper/ Faster/ Easier?</h4>
</div>

<div class="main">
  <div class="action">
    <button id="disclaimer" class="btn-disclaimer" onclick="disclaimer()">Click to read disclaimer</button>
  </div>

  <div>
    <table class="intro">
      <tbody>
        <tr>
          <td><img src="{{ url_for('static', filename='images/box_stacksmall.jpg') }}"></td>
          <td><span>STACK</span><br>pay highest interest rate first</td>
        </tr>
        <tr>
          <td><img src="{{ url_for('static', filename='images/snowball_small.jpg') }}"></td>
          <td><span>SNOWBALL</span><br>pay smallest debt first</td>
        </tr>
        <tr>
          <td><img src="{{ url_for('static', filename='images/avalanche_cartoon_small.jpg') }}"></td>
          <td><span>AVALANCHE</span><br>pay largest debt first</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="action">
    <button id="getStarted" class="btn"><a href="./debt_form">Get Started</a></button>
  </div>

</div>

{% endblock %}
