body {
    text-align: left;
    background-color: #e43e26;
    color: #f4d97e;
    font-size: 1.7em;
}

span {
    font-weight: bolder;
    font-size: larger;
}

/* this changes the disclaimer and submit buttons colour */
#disclaimer, .submit {
    background-color: #9d6930;
    border-color: #9d6930;
    color: #fcf1ef;
}

table, th, td {
    border: 1px solid #9d6930;
}

td {
    color: #fcf1ef;
    text-align: center;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
     background-color: #eeb633;
     text-align: center;
     color: #9d6930;
   }

h1, h4{
    text-align: center;
    font-weight: bold;
    color: #f4d97e;
}

h2, h3 {
    text-align: center;
    color: #9d6930;
}

th {
    color: #f4d97e;
    text-align: center;
    font-weight: bold;
}

input:placeholder-shown {
    font-style: italic;
}

@media screen and (max-width: 650px) {
    .column {
    width: 100%;
    display: block;
    }
}

.accordion-button:not(.collapsed) {
    color: #e43e26;
    background-color: #f4d97e;
}

.btn-primary {
    background-color: #9d6930;
    border-color: #9d6930;
}

footer {
    text-align: left;
    font-size: 0.5em;
}