/* dark brown #544515
light brown  #9d6930
yellow #eeb633, 
dark yellow/ orange #f4d97e
red #e43e26 */

body {
    text-align: left;
    background-color: lightgray;
    color: black;
    font-size: 1.5em;
}

span {
    font-weight: bolder;
    font-size: larger;
}

#disclaimer, .submit {
    background: linear-gradient(180deg, #7d5426 15%, #8d5e2b 50%, #9d6930 100%);
    border-color: #9d6930;
    color: black;
}

table, th, td {
    border: none;
    text-align: left;
}

td {
    color: black;
}

.table-striped {
    border: 1px solid #9d6930;
    text-align: left;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
     background-color: #eeb633;
     color: black;
   }

h1, h4{
    text-align: center;
    font-weight: bold;
    background: -webkit-linear-gradient(0deg, #f66218 15%, #652117 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2, h3 {
    text-align: left;
    color: black;
}

h5 {
    font-weight: bold;
}

h6 {
    text-align: center;
}

th {
    color: black;
    text-align: center;
}

.accordion-item {
    background: #f4d97e;
    color: #e43e26;
    font-size: 0.85em;
}

.accordion-button:not(.collapsed) {
    background: #f4d97e;
    color: #544515;
    font-size: 0.5em;
    font-weight: bold;
}

.accordion-button {
    background: #f4d97e;
    color: #544515;
    font-size: 0.5em;
    font-weight: bold;
}

.btn-primary:link  {
    background: linear-gradient(180deg, #7d5426 15%, #8d5e2b 50%, #9d6930 100%);
    border-color: #9d6930;
    color: black;
}

.btn-primary:visited {
    background: linear-gradient(180deg, #7d5426 15%, #8d5e2b 50%, #9d6930 100%);
    border-color: #9d6930;
    color: black;
}

img {
    border-radius: 50%;
}

@media screen and (min-width: 320px) {
    .app-wrapper {
        width: 360px;
        height: 600px;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-radius: 10px;
        background: linear-gradient(0deg, #766a43 15%, #544515 50%, #433710 100%);
    }

    .container-fluid {
        height: 100vh; /* set the height to the full viewport height */
        display: flex; /* to allow centering using justify-content and align-items */
        justify-content: center; /* center horizontally */
        align-items: center; /* center vertically */
    }
}