body {
    text-align: left;
    background-color: red;
    color: white;
    font-size: 1.7em;
}

/* this changes the disclaimer and submit buttons colour */
#disclaimer, .submit {
    background-color: black;
    border-color: black;
}

table, th, td {
    border: 1px solid black;
}

td {
    color: white;
    text-align: center;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
     background-color: grey;
     text-align: center;
     color: white;
   }

h1, h4{
    text-align: center;
    font-weight: bold;
    color: black;
}

h2, h3 {
    text-align: center;
    color: grey;
}

th {
    color: black;
    text-align: center;
    font-weight: bold;
}

input:placeholder-shown {
    font-style: italic;
}

@media screen and (max-width: 650px) {
    .column {
    width: 100%;
    display: block;
    }
}

.accordion-button:not(.collapsed) {
    color: grey;
    background-color: white;
}

.btn-primary {
    background-color: black;
    border-color: black;
}
